set -ex
trap 'test -z "$intrap" && export intrap=1 && kill -- -$$ 2>/dev/null || :' SIGINT SIGTERM EXIT

./environ.sh qa0-master
./environ.sh pg9-system2

pg9*/status.sh > /dev/null || pg9*/start.sh

qa0*/configure_db.sh pg9

qa0*/stop.sh > /dev/null 2>&1 || :
